
.settings/com.renesas.cdt.managedbuild.gnuarm.prefs
.settings/com.renesas.cdt.synergy.packs.componentfiles.prefs
.settings/com.renesas.cdt.synergy.settingseditor.prefs
.settings/language.settings.xml
.settings/org.eclipse.cdt.core.prefs
